[submodule "/Users/mhazley/.dotfiles/oh-my-zsh/custom/themes/spaceship-prompt"]
	path = /Users/mhazley/.dotfiles/oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
